@import url(http://fonts.googleapis.com/css?family=Montserrat);
* {
  margin: 0;
  padding: 0;
  text-align: center; }

body {
  color: #574c8d;
  width: 100%;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 12pt; }

p {
  font-size: 15pt; }

a {
  color: #574c8d; }

a:hover {
  color: #a7a2c3; }

header {
  padding-top: 6em;
  padding-bottom: 6em;
  background-color: #dddce8;
  display: inline-block;
  width: 100%; }

#logo {
  display: inline-block;
  padding-bottom: 2em; }

nav {
  display: block; }
  nav a {
    text-decoration: none;
    color: #574c8d;
    padding: 1em; }

li {
  list-style: none;
  display: inline-block; }

footer {
  padding: 40px 20px 40px 20px; }
  footer p {
    font-size: 0.8em;
    line-height: 1.6em; }
