// Matthew Tso 2014.

@import url(http://fonts.googleapis.com/css?family=Montserrat);

//COLORS
$purple : #574c8d;
$lightpurple : #a7a2c3;
$lightestpurple : #DDDCE8;


* {
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    color: $purple;
    width: 100%;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 12pt;
}
p{
    font-size: 15pt;
}
a{
    color: $purple;
}

a:hover{
    color: $lightpurple;
}
li {
    list-style: none;
    display: inline-block;
}

// HEADER and navigation style
header{
    padding-top: 6em; padding-bottom: 6em;
    background-color: $lightestpurple;
    display: inline-block;
    width: 100%;
}
#logo {
    display: inline-block;
    padding-bottom: 2em;
}
nav {
    display: block;
    a {
        text-decoration: none;
        color: $purple;
        padding: 1em;
    }
}

// MAIN
main {
    width: 100%;
    padding: 30px;
}



footer{
    padding: 40px 20px 40px 20px;
    p {
        font-size: 0.8em;
        line-height: 1.6em;
    }
}
.socialmedia{
    li{
        padding: 10px;
    }
}

// Twitter Feed Style
#twitterlink{
    padding-top:20px;
    //padding-bottom:30px;
    display: inline-block;
    width: 100%;
}
.twitterfeedtest{
    width: 620px;
    margin: 0 auto;
    text-align: center;
}
.tweet{
    display: inline-block;
    margin-top: 30px;
    width:500px;
    border: 2px solid #574c8d;
    border-radius:10px;
    padding:20px 60px 30px 60px;
    h3{
        font-size: 0.8em;
        padding: 10px;
    }
}